{% extends 'layout.html.twig' %}
{% block content %}
    <h1>Choisissez vos personnages !</h1>
    {% include 'Item/character.html.twig' %}

    {%  include 'Item/_playerCard.html.twig' %}
{% endblock %}