{% extends 'layout.html.twig' %}
{% block content %}
    <h1>Choisissez vos personnages !</h1>

    <div class="center">
        <div class="card-deck">
            {% for class in classes %}
            {% include 'Item/character.html.twig' %}
            {% endfor %}
        </div>
    </div>

{% endblock %}
