{% extends 'layout.html.twig' %}

{% block content %}

    <div class="container justify-center text-center">

        <div class="mx-auto black_logo"><img src="/assets/images/ewoodcutersB.png"></div>
        <div><h1>Ewoodcutters team is :</h1></div>

    </div>
    <div class="row justify-content-center mx-auto">
        <div class="LI-profile-badge mx-2"  data-version="v1" data-size="medium" data-locale="fr_FR" data-type="vertical" data-theme="dark" data-vanity="sylvain-aubert-66046a40"><a class="LI-simple-link" href='https://fr.linkedin.com/in/sylvain-aubert-66046a40?trk=profile-badge'>Sylvain AUBERT</a></div>
        <div class="LI-profile-badge mx-2"  data-version="v1" data-size="medium" data-locale="fr_FR" data-type="vertical" data-theme="dark" data-vanity="vmouline"><a class="LI-simple-link" href='https://fr.linkedin.com/in/vmouline?trk=profile-badge'>Vincent MOULINE</a></div>
        <div class="LI-profile-badge mx-2"  data-version="v1" data-size="medium" data-locale="fr_FR" data-type="vertical" data-theme="dark" data-vanity="drambourg"><a class="LI-simple-link" href='https://fr.linkedin.com/in/drambourg?trk=profile-badge'>Damien RAMBOURG</a></div>
        <div class="LI-profile-badge mx-2"  data-version="v1" data-size="medium" data-locale="fr_FR" data-type="vertical" data-theme="dark" data-vanity="jeannette-vang"><a class="LI-simple-link" href='https://fr.linkedin.com/in/jeannette-vang?trk=profile-badge'>Jeannette VANG</a></div>
        <div class="LI-profile-badge mx-2"  data-version="v1" data-size="medium" data-locale="fr_FR" data-type="vertical" data-theme="dark" data-vanity="nawalzakarya"><a class="LI-simple-link" href='https://fr.linkedin.com/in/nawalzakarya?trk=profile-badge'>Nawal ZAKARYA</a></div>
    </div>


{% endblock %}
