{% extends 'layout.html.twig' %}

{% block content %}

    <a href="/home/index">
        <div class="container justify-content-center mx-auto">
            <img class="h1_title text-center" src="{{ base_path ~ directory }}/assets/images/h1_title.gif">
            <video class="fullscreen" autoplay="true" loop
                   src="https://preview.redd.it/zbkvapl8lp601.gif?format=mp4&s=d4393460e03d7c1f117f166f32819e54b793ee1f"></video>
        </div>
    </a>

    <div class="row justify-content-center">
        <img class="card-img-top" style="height: 500px; width: auto" src="/assets/easter/{{ picture }}"
             alt="Card image cap">
    </div>
    <audio autoplay="true" loop>
        <source src="{{ base_path ~ directory }}/assets/images/back-in-black.mp3" type="audio/mp3"/>
        Votre navigateur n'est pas compatible
    </audio>
{% endblock %}
