<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/style.css">
    {% block stylesheet %}{% endblock %}
    <link rel="icon" href="/assets/images/favicon.png">
</head>

<body>

{% block content %}{% endblock %}

<!--  footer----
<footer>
    <div class="jumbotron footerBotron jumbotron-fluid p-4">
        <div class="row justify-content-center text-center text-white m-0">
            <h4 class="col-12 mt-4 mb-4">Hackathon mars 2019</h4>

            <div class="col-2">
                <a href="https://www.linkedin.com/in/vincent-mouline-13151b170/?originalSubdomain=fr" target="_blank">Vincent
                    Mouline</a>
            </div>

            <div class="col-2">
                <a href="https://www.linkedin.com/in/drambourg/?originalSubdomain=fr" target="_blank">Damien
                    Rambourg</a>
            </div>
            <div class="col-2">
                <a href="index.php">Jeannette Vang</a>
            </div>
            <div class="col-2">
                <a href="https://www.linkedin.com/in/nawal-zakarya-13507a182/" target="_blank">Nawal Zakarya</a>
            </div>

            <div class="col-2">
                <a href="https://www.linkedin.com/in/sylvain-aubert-66046a40/" target="_blank">Sylvain Aubert</a>
            </div>

            <hr class="col-8"/>

            <div class="col-6">
                <a href="https://twitter.com/wildschool_orls?lang=fr" target="_blank"><img
                            src="assets/img/twitter-brands.png"
                            class="mr-3"
                            alt="twitter wild code school"/>
                </a>
                <a href="https://www.facebook.com/wildcodeschool/" target="_blank"><img
                            src="assets/img/facebook-brands.png"
                            class="mr-3"
                            alt="facebook wild code school"/>
                </a>
                <a href="https://github.com/Nawalsubject/hackaton_mars2019_suggestionBox" target="_blank"><img
                            src="assets/img/github-brands.png" class="mr-3"
                            alt="github projet"/>
                </a>

            </div>
        </div>
    </div>
</footer>
-->
{% block javascript %}{% endblock %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>


