/*--------------- CARD PLAYER --------------*/

@import url('https://fonts.googleapis.com/css?family=Abel');

html, body {
    font-family: Abel, Arial, Verdana, sans-serif;
}

.li_menu{
    text-decoration: none;
    list-style: none;
}

.img_menu{
    height: 60px;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
}

.card {
    width: 450px;
    height: 250px;
    background-color: #fff;
    background: linear-gradient(#f8f8f8, #fff);
    box-shadow: 0 8px 16px -8px rgba(0,0,0,0.4);
    border-radius: 6px;
    overflow: hidden;
    position: relative;
    margin: 1.5rem;
}

.card h2 {
    text-align: center;
}

.card .additional {
    position: absolute;
    width: 150px;
    height: 100%;
    background: #ff193f;
    transition: width 0.4s;
    overflow: hidden;
    z-index: 2;
}

.card .blue {
    background: #2e2dfa;
}


.card:hover .additional {
    width: 100%;
    border-radius: 0 5px 5px 0;
}

.card .additional .user-card {
    width: 150px;
    height: 100%;
    position: relative;
    float: left;
}

.card .additional .user-card::after {
    content: "";
    display: block;
    position: absolute;
    top: 10%;
    right: -2px;
    height: 80%;
    border-left: 2px solid rgba(0,0,0,0.025);
}

.card .additional .user-card .level,
.card .additional .user-card .class {
    top: 15%;
    color: #fff;
    text-transform: uppercase;
    font-size: 0.75em;
    font-weight: bold;
    background: rgba(0,0,0,0.15);
    padding: 0.125rem 0.75rem;
    border-radius: 100px;
    white-space: nowrap;
}

.card .additional .user-card .class {
    top: 85%;
}

.card .additional .user-card svg {
    top: 50%;
}

.card .additional .more-info {
    width: 300px;
    float: left;
    position: absolute;
    left: 150px;
    height: 100%;
}

.card .additional .more-info h2 {
    color: #fff;
    margin-bottom: 0;
}


.card .additional .coords {
    margin: 0 1rem;
    color: #fff;
    font-size: 1rem;
}


.card .additional .coords span + span {
    float: right;
}

.card .additional .stats {
    font-size: 2rem;
    display: flex;
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    right: 1rem;
    top: auto;
    color: #fff;
}

.user-picture{
    border-radius :50%;
    width: 60%;
    position: absolute;
    top: 75px;
    left: 30px;
}

.card .additional .stats > div {
    flex: 1;
    text-align: center;
}

.card .additional .stats i {
    display: block;
}

.card .additional .stats div.title {
    font-size: 0.75rem;
    font-weight: bold;
    text-transform: uppercase;
}

.card .additional .stats div.value {
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.5rem;
}

.card .additional .stats div.value.infinity {
    font-size: 2.5rem;
}

.card .general {
    width: 300px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    box-sizing: border-box;
    padding: 1rem;
    padding-top: 0;
}

.card .general .more {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    font-size: 0.9em;
}

.icons img{
    margin-bottom: 10px;
}

.milk {
    width: 22%;
}

.chocolate {
    width: 28%;

}.eggs {
    width: 50%;

}.life {
    width: 33%;
}

/*--------------- CARD PLAYER --------------*/
/* -------------- CARD CONFIG --------------*/
.class-picture {
    margin-top: 20px;
    height: 80px;
    width: auto;
}

.card-config {
    width: 1300px;
    height: auto;
}

.card_title_player{
    font-family: 'retro', serif;
    text-transform: capitalize;
    font-size: 50px;
}

.card_title_text{
    font-family: 'retro', serif;
    text-transform: capitalize;
    font-size: 30px;
}

.card_emplacement{
    padding-top: 10px;
}

.center_card_player {
    position: absolute;
    top: 130px;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
}

/* --------------  Fin CARD CONFIG ---------------*/

@font-face {
    font-family: "retro";
    src: url("../fonts/Gamer.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "title";
    src: url("../fonts/Pastas-Black.otf");
    font-weight: normal;
    font-style: normal;
}

video.fullscreen {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translate(-50%, -50%);
}

video.full_opacity{
    opacity: 0.5;
}

.h1_title{
    margin-top: 150px;
    position: relative;
    width: 110%;
    top: 0%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
}

.choose_perso_title{
    margin-top: 150px;
    position: relative;
    width: 70%;
    top: 0%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
}

.btn_play{
    font-family: 'retro', serif;
    margin-top: 180px;
}

.btn-item{
    background-color: blue;
    padding: 10px 150px;
    border-radius: 20px;
    color: crimson;
    font-size: 60px;
}

.btn-item .play_link {
    text-decoration: none;
}

.text_item{
    margin-top: 10px;
    text-decoration: none;
}

.text_accueil{
    margin-top: 30px;
    align-content: center;
    font-family: 'retro', serif;
    font-size: 40px;
    color: black;
    text-decoration: none;
}

.footerBotron {
    background-color: #6c757d;
    margin: 0;
}

.footerBotron ul {
    list-style-type: none;
}
.footerBotron h4 {
    font-family: 'Cabin Sketch', cursive;
    font-size: 1.5rem;
}
.footerBotron a {
    font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 1rem;
    color: white;
}

/*rulespage*/

h1{
    text-align: center;
}

.table{
    text-align: center;

}


