{% extends 'layout.html.twig' %}

{% block content %}
    <div class="container my-5">
    <h1><img src="https://image.noelshack.com/fichiers/2019/16/5/1555668534-easteregg2.png" style="height: 70px ; width: 55px;"/> Crédits et mentions légales <img src="https://image.noelshack.com/fichiers/2019/16/5/1555668534-easteregg2.png" style="height: 70px ; width: 55px;"/> </h1>

        <h2>Mentions</h2>
        Le site www.chocobattle.fr est un site édité par Ewoodcutters, agence de web developpement. Il a pour vocation de
        divertir les utilisateurs, sur le thème de Pâques. <br/>
        Les contenus et informations présents sur le site sont protégés par le droit de la propriété intellectuelle. Il
        est, de ce fait, interdit de les utiliser ou les reproduire sans l'autorisation direct d'Ewoodcutter.
        En cas de violation des droits d'auteurs, les individus ne respectant pas ce droit seront passible de poursuites
        judiciaire, d’une peine de 152449,00 euros d’amende et de 2 ans d’emprisonnement (CPI, articles L. 335-1 et suivant).
        Des peines complémentaires (fermeture d’établissement, confiscation, affichage de la décision judiciaire) peuvent
        en outre être prononcées. <br/>
        Ce site est optimisé pour les navigateurs suivants :
        <ul>
            <li>Google Chrome, Ubuntu et Windows version</li>
            <li>Firefox, Ubuntu et Windows version</li>
            <li>Safari, Mac version</li>
            <li>Opera, Ubuntu et Windows version</li>
        </ul>
        <br/>

        <h2>Crédits</h2>
        La conception et réalisation de ce site a été faite par l'agence Ewoodcutters : Aubert Sylvain, Mouline Vincent,
        Rambourg, Zakarya Nawal, Vang Jeannette.<br/>
        Les images et multimedia sont des productions de l'agence ou des sources citées.

        <h2>Coordonnées</h2>
        <div class="row text-justify">
          <!--  <div class="col-5"> -->
        Agence Ewoodcutters | Ca balance du Bois
        17-19 rue Perdue Dans la Fôret
        45 000 ORLEANS

        RCS ORLEANS 632 987 481
        Ewoodcutters à capital variable
        Siret 482 632 784 00041
        APE 7098Z - TVA Intracommunautaire FR 704832583

        Pour tout contact, veuillez poser une question via mail ou prendre rendez-vous via téléphone.

            </div>
</div>
    </div>

{% endblock %}
