{% extends 'layout.html.twig' %}

{% block content %}
    <div class="container-fluid text-center bg-dark">
        <iframe src="https://giphy.com/embed/FMapondVtL2Fi" width="1000" height="900" frameBorder="0"
                class="giphy-embed"
                allowFullScreen></iframe>
        <div class="text-center btn_play mt-0 pt-0 pb-3">
            <button type="button" class="btn btn-item btn-lg"><a class="play_link" href="/home/config">PLAY</a></button>
        </div>
    </div>

{% endblock %}