{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Les règles du jeu</h1>
    <p>blablahblahblahblahblahblahlah
    vgoefjoekjfcjopefjpmokejfe
    TEST TEST TEST TEST TEST</p>

{% endblock %}
